py3env
*.pyc
__pycache__
induwo_accounts.egg-info
MANIFEST
requirements
setup.py
db.sqlite3

accounts_static/*
accounts_media/*
bower_components/*

!accounts_static/.keep
!accounts_media/.keep
!bower_components/.keep