include LICENSE
include README.rst
recursive-include my_registration/static/my_registration *
recursive-include my_registration/templates/my_registration *
recursive-include my_registration/templates/registration *
recursive-include docs *
