include LICENSE
include README.rst
recursive-include induwo_registration/static/induwo_registration *
recursive-include induwo_registration/templates/induwo_registration *
recursive-include induwo_registration/templates/registration *
#recursive-include docs *
